@import './../../assets/presets.scss'; 


.box {
    background-color: $primary;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h1{
        color: #fff;
        font-size: 4rem;
    }

    p{
        font-size: 1rem;
        color: #ccc;
    }

    button{
        background-color: $terc;
        padding: 13px;
        width: 155px;
        margin-top: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 18px;
        border: none;
        cursor: pointer;
        box-shadow: inset 5px 5px 10px rgba(17, 21, 22, 0.596);

        &:hover{
        background-color: #1a6ce7;

        }
    }

    .link-area{
        min-width: 500px;
        max-width: 100%;
        margin-top: 20px;

        a{
            color: #fff;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 100%;


    label{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        span{
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 7px;
        }

        input{
            width: 100%;
            height: 40px;
            padding: 8px;
            background-color: $secundary;
            border-width: 0;
            border-radius: 4px;
            color: #fff;
            
        }

        p{
            font-size: 15px;
            margin-top: 4px;
            color: #d43e3e;
        }
    }

}
