@import './../../assets/presets.scss'; 

.container{
    background-color: $primary;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 120px 1fr 100px;

}

.nav-settings{
    background-color: $terc;
    width: 120px;
    height: 80px;
    z-index: 99;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    button{
        background-color: $primary;
        border: none;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        cursor: pointer;
        &:hover{
            background-color: #424242;
        }
    }
}

.nav-area{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    button{
        width: 60px;
        height: 60px;
        border-radius: 35px;
        border-width: 0;
        margin-top: 15px;
        background-color: $secundary;
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        cursor: pointer;
        &:hover{
            background-color: #424242;
        }
        
    }

}

.chat-box{
    background-color: $secundary;
    
}

.info-box{

}