@import './../../assets/presets.scss';

.container {
    background-color: $primary;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 110px 1fr 300px;
    overflow-x: hidden;

}

.nav-settings {
    background-color: $terc;
    width: 110px;
    height: 80px;
    z-index: 99;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #424242;
    }

    button {
        background-color: $primary;
        border: none;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        cursor: pointer;
        margin-left: 25px;
    }
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



    .img-area {
        margin-top: 20px;
        width: 130px;
        height: 130px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secundary;

        img {
            width: 100%;
            height: 100%;
            border-radius: 100px;
            object-fit: cover;
        }
    }

    .profile-name {
        width: 100%;
        padding: 15px;

        h1 {
            word-break: break-word;
            font-size: 25px;
            text-align: center;
            color: #fff
        }
    }

    .profile-icon {
        display: flex;
        margin-top: 20px;
        background-color: #0c0c0c;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 10px;


    }

    .profile-creator {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #0c0c0c;
        padding-bottom: 10px;

        img {
            width: 70px;
            height: 70px;
            border-radius: 40px;
            object-fit: cover;
            margin-bottom: 10px;
        }

        div {
            display: flex;
            justify-content: center;
        }

        h2 {
            word-break: break-word;
            font-size: 20px;
            text-align: center;
            color: #ccc;
        }
    }

}

.profile-load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    img {
        width: 60px;
        height: 60px;
    }

}



@media (max-width: 1024px) {

    .container {
        grid-template-columns: 110px 1fr 150px;

    }

    .info-box {

        .img-area {
            width: 100px;
            height: 100px;
        }

        .profile-name {
            h1 {
                font-size: 25px;
            }
        }

        .profile-icon {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }



    }

}

@media (max-width: 760px) {

    .container{
        grid-template-columns: 110px 1fr 0px;

        .info-box{
            display: none;
        }

    }

}

@media (max-width: 580px){

    .container{
        display: flex;
        flex-direction: column;
        
    }

}